body {
	margin: auto 100px;
}
h2, h3, ul {
	margin-top: 0;
	margin-bottom: 5px;
}
ul li {
	margin-left:  15px; 
}
h2 u {
	font-size: 16px;
	font-weight: bold;
	color: #545454;
	text-transform: uppercase;
}

p a img {
	width: 90px;
	height: 90px
	border: 1px solid green;
	border-radius: 10px;
	box-shadow: 6px 4px 4px gray;

}
.descrip {
	display: inline-block;
}
.descrip1 {
	margin: 10px;
	margin-right: 45px;
	font-family: verdana;
	float: left;
}
.descrip1 h1 {
	font-weight: bold;
	font-size: 18px;
	text-transform: capitalize;
	margin: 2px;
}
.descrip1 p {
	font-weight: normal;
	font-size: 12px;
	text-transform: capitalize;
	margin: 0px;
	font-style: italic;
}
.badge {
	color: #000;
	border: 1px solid #f00;
	border-radius: 10px;
	padding: 2px;
}
.descrip2 {
	float: right;
}